*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: SB Sans Display;
  color: #424242;
}
.mobile-wrapper{
  max-width: 92.757vw; // 397px // by 428
  width: 100%;
  margin: 0 auto;
}



